# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
*.env

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
*.log

# Operating System files
.DS_Store
Thumbs.db

# IDE specific files
.idea/

bot/discloud.config
api/instance/database.db
.vs/slnx.sqlite
.vs/trygdekontorbot/CopilotIndices/17.13.439.2385/CodeChunks.db
.vs/trygdekontorbot/CopilotIndices/17.13.439.2385/SemanticSymbols.db
.vs/trygdekontorbot/v17/.wsuo
Keycloak/h2/keycloakdb.mv.db
Keycloak/h2/keycloakdb.trace.db
